<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    p{
      font-size:1.5rem;
    }
  </style>
  <title>Application Submitted</title>
</head>
<body>
  {%include 'nav.html'%}
  {%include 'bootstrap.html'%}
  {%include 'banner.html'%}

  <div class="container">
   <h1 class="text-center mt-2 mb-4" >Career Page</h1>
    <P>Your Application for {{jobs['title']}} has been submitted </P>
  <b>Full Name</b>
  <div class="mb-2">{{application['full_name']}}</div>
  <b>Email</b>
  <div class="mb-2">{{application['Email']}}</div>
  <b>linkedlin</b>
  <div class="mb-2">{{application['LinkedIn']}}</div>
  <b>Location</b>
  <div class="mb-2">{{application['loc']}}</div>
  <b>Resume</b>
  <div class="mb-2">{{application['resume']}}</div>
  <b>Work Experience</b>
  <div class="mb-2">{{application['work-exp']}}</div>
  </div>
    {%include 'footer.html'%}
</body>
</html>
